<section id="{{pageClass}}" class="{{pageClass}} " ng-controller="languagesController">
	<div class="conteneur">
		<h2>
			Languages <span class="font-data"
              data-getter="NumberSupportedLanguages"></span>
		</h2>
		<div class="languages-wrapper">
			<div class="font-data"
           data-getter="SupportedLanguages"></div>
           <div class="font-data"
           data-getter="SupportedLanguages"></div>
           <div class="font-data"
           data-getter="SupportedLanguages"></div>
           
		</div>
        
	</div>
</section>