<section id="{{pageClass}}" class="{{pageClass}} " ng-controller="dummyController">
	<div class="conteneur">
		
		<!--div class="masonry">
			<div class="dummy-item-wrap" ng-repeat="item in familyShuffled">
				<dummy-text item="item" dummy="dummy"></dummy-text>
			</div>
		</div-->
		<div class="mdlfs-per-font">
			<p>
			  <span class="mdlfs-per-font__item-blueprint mdlfs-per-font__current-font"
			        style="display:none"
			        data-per-font-rotate
			        data-reverse-font-order>
			    {{dummy_short}}
			  </span>
			</p>
		</div>
		
		
	</div>
</section>