<section id="{{pageClass}}" class="{{pageClass}} " ng-controller="dataController">
	<div class="conteneur">
		
		<div class="git_summary-wrapper">
			<div class="row ">
				<div class="col-xs-12">
					<h3>git summary</h3>
				</div>
				<div class="col-xs-12">
					<div class="git_summary"></div>
				</div>
			</div>
		</div>

		<div class="git_authors_list-wrapper">	
			<div class="row ">
				<div class="col-xs-12">
					<h3>git authors list</h3>
				</div>
				<div class="col-xs-12">
					<div class="git_authors_list"></div>
				</div>
			</div>
		</div>
		
		<div class="git_authors_cumulativeLineAdded-wrapper">
			<div class="row ">
				<div class="col-xs-12">
					<h3>git authors cumulative Line Added</h3>
				</div>
				<div class="col-xs-12">
					<svg id="git_authors_cumulativeLineAdded" width="500" height="500"></svg>
				</div>
			</div>
		</div>
			
	</div>
</section>