<section id="{{pageClass}}" class="{{pageClass}} tinted" ng-controller="glyphDetailsController">
	<div class="conteneur">
		
		

		<div class="flex scroll-hz">
			<div class="glyph-details-item" >
				<div class="abs">@</div>
			</div>
			<div class="glyph-details-item" >
				<div class="abs">2</div>
			</div>
			<div class="glyph-details-item" >
				<div class="abs">n</div>
			</div>
			<div class="glyph-details-item" >
				<div class="abs">$</div>
			</div>
			<div class="glyph-details-item" >
				<div class="abs">k</div>
			</div>
		</div>
		
		
		</div>
	</div>
</section>