<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>759</integer>
	<key>capHeight</key>
	<integer>660</integer>
	<key>copyright</key>
	<string>Copyright 2017 The Spectral Project Authors (http://github.com/productiontype/spectral)</string>
	<key>descender</key>
	<integer>-241</integer>
	<key>familyName</key>
	<string>Spectral</string>
	<key>openTypeHeadCreated</key>
	<string>2017/04/14 17:28:29</string>
	<key>openTypeHeadLowestRecPPEM</key>
	<integer>7</integer>
	<key>openTypeHheaAscender</key>
	<integer>917</integer>
	<key>openTypeHheaDescender</key>
	<integer>-463</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDesigner</key>
	<string>Jean-Baptiste Levee</string>
	<key>openTypeNameDesignerURL</key>
	<string>https://www.productiontype.com/</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>Production Type</string>
	<key>openTypeNameManufacturerURL</key>
	<string>https://www.productiontype.com/</string>
	<key>openTypeNameUniqueID</key>
	<string>Spectral-ExtraLight: 2017</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>4</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>29</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>2</integer>
		<integer>6</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Selection</key>
	<array>
		<integer>7</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>260</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>30</integer>
	<key>openTypeOS2TypoAscender</key>
	<integer>759</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-241</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>522</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>9</integer>
		<integer>29</integer>
		<integer>30</integer>
		<integer>31</integer>
		<integer>32</integer>
		<integer>33</integer>
		<integer>35</integer>
		<integer>36</integer>
		<integer>37</integer>
		<integer>42</integer>
		<integer>45</integer>
		<integer>46</integer>
		<integer>47</integer>
		<integer>62</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>PROD</string>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1059</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>463</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-10</integer>
		<integer>0</integer>
		<integer>450</integer>
		<integer>460</integer>
		<integer>530</integer>
		<integer>540</integer>
		<integer>560</integer>
		<integer>571</integer>
		<integer>660</integer>
		<integer>670</integer>
		<integer>740</integer>
		<integer>750</integer>
		<integer>890</integer>
		<integer>900</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
		<integer>-10</integer>
		<integer>0</integer>
		<integer>450</integer>
		<integer>460</integer>
		<integer>530</integer>
		<integer>540</integer>
		<integer>560</integer>
		<integer>571</integer>
		<integer>660</integer>
		<integer>670</integer>
		<integer>740</integer>
		<integer>750</integer>
		<integer>890</integer>
		<integer>900</integer>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
		<integer>-240</integer>
		<integer>-230</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-240</integer>
		<integer>-230</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>35</integer>
		<integer>22</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>60</integer>
		<integer>50</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-120</integer>
	<key>postscriptUnderlineThickness</key>
	<real>30.0</real>
	<key>styleName</key>
	<string>ExtraLight</string>
	<key>trademark</key>
	<string>Spectral is a registered trademark of Production Systems SAS.</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>2</integer>
	<key>versionMinor</key>
	<integer>3</integer>
	<key>xHeight</key>
	<integer>450</integer>
	<key>year</key>
	<integer>2017</integer>
</dict>
</plist>
